<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>数据详情</title>
    <link rel="stylesheet" href="/static/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/assets/style/admin.css" media="all">
    <style type="text/css">
        .layui-layer-page .layui-layer-content {
            overflow: inherit !important;
        }
    </style>
</head>
<body layadmin-themealias="default">
<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form layui-form-pane layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <center>
                        <div class="layui-btn-group" id="chartTabs" name="chartTabs">
                        </div>
                    </center>
                </div>
            </div>
        </form>
        <div class="layui-card-body">
            <center>
                <div id="chartContent" style="width: 800px;height:300px;"></div>
            </center>
        </div>

    </div>

</div>
<script src="/static/assets/layui/layui.js"></script>
<script src="/static/assets/lib/echarts.min.js"></script>

<script id="tabs" type="text/html">
    {{# layui.each(d.list,function(index,item){ }}
    <button class="layui-btn" type="submit" lay-submit lay-filter="show">{{item}}</button>
    {{# }); }}
</script>

<script th:inline="javascript">

    layui.use(['form', 'jquery', 'layer', 'element'], function () {
        var $ = layui.$;
        var layer = layui.layer;
        var form = layui.form;
        var element = layui.element;
        uuid = [[${uuid}]];
        getTabs();

        function getTabs() {
            $.get('/push/getTabs', {
                uuid: uuid
            }, function (res) {
                if (res.code === 200) {
                    var tabs = res.data.tabs;
                    initTabs(tabs || []);
                } else {
                    console.log(res)
                }
            });
        }

        function initTabs(list) {
            layui.use(['laytpl', 'jquery'], function () {
                layui.laytpl(tabs.innerHTML).render({list: list}, function (html) {
                    chartTabs.innerHTML += html;
                });
            });
        }

        function showChart(id, tab) {
            $.get('/push/getChart', {
                uuid: id,
                subMenu: tab
            }).done(function (res) {
                myChart = echarts.init(document.getElementById('chartContent'));
                myChart.clear();
                switch (res.data.type) {
                    case 0:
                        lineChart(res.data);
                        break;
                    case 1:
                        barChart(res.data);
                        break;
                    case 2:
                        pieChart(res.data);
                        break;
                    case 3:
                        ringChart(res.data);
                        break;
                    default:
                }
            });
        }

        form.on('submit(show)', function (data) {
            var tab = data.elem.innerText;
            showChart(uuid, tab);
            return false;
        });

        function lineChart(chart) {
            option = {
                title: {
                    text: chart.title,
                    xValues: 'center'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                legend: {
                    xValues: 'left',
                    orient: 'horizontal',
                    data: chart.legend
                },
                xAxis: [
                    {
                        type: 'category',
                        data: chart.xAxis
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                grid: [
                    {top: '20%'}
                ],
                dataZoom: [
                    {
                        type: 'inside'
                    }
                ],
                series: [
                    {
                        name: chart.legend[0],
                        type: 'line',
                        data: chart.series[0]
                    },
                    {
                        name: chart.legend[1],
                        type: 'line',
                        data: chart.series[1]
                    },
                    {
                        name: chart.legend[2],
                        type: 'line',
                        data: chart.series[2]
                    },
                ]
            };
            myChart.setOption(option);
            var zoomSize = 6;
            myChart.on('click', function (params) {
                console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
                myChart.dispatchAction({
                    type: 'dataZoom',
                    startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
                    endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
                });
            });
        }

        function barChart(chart) {
            option = {
                title: {
                    text: chart.title,
                    xValues: 'center'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                legend: {
                    xValues: 'left',
                    orient: 'horizontal',
                    data: chart.legend
                },
                xAxis: [
                    {
                        type: 'category',
                        data: chart.xAxis
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                grid: [
                    {top: '20%'}
                ],
                dataZoom: [
                    {
                        type: 'inside'
                    }
                ],
                series: [
                    {
                        name: chart.legend[0],
                        type: 'bar',
                        data: chart.series[0]
                    },
                    {
                        name: chart.legend[1],
                        type: 'bar',
                        data: chart.series[1]
                    },
                    {
                        name: chart.legend[2],
                        type: 'bar',
                        data: chart.series[2]
                    },

                ]
            };
            myChart.setOption(option);
            var zoomSize = 6;
            myChart.on('click', function (params) {
                console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
                myChart.dispatchAction({
                    type: 'dataZoom',
                    startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
                    endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
                });
            });
        }

        function pieChart(chart) {
            option = {
                title: {
                    text: chart.title,
                    subtext: chart.subtitle,
                    xValues: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    xValues: 'left',
                    orient: 'horizontal',
                    data: chart.legend
                },
                series: [
                    {
                        name: chart.series,
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: chart.data,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            myChart.setOption(option);
        }

        function ringChart(chart) {
            option = {
                title: {
                    text: chart.title,
                    subtext: '水单位:吨、电量单位:K·KW·h、原料单位：吨、煤单位:吨',
                    xValues: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                legend: {
                    xValues: 'left',
                    orient: 'horizontal',
                    data: chart.legend
                },
                series: [
                    {
                        name: chart.series,
                        type: 'pie',
                        radius: ['50%', '60%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '30',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: chart.data
                    }
                ]
            };
            myChart.setOption(option);
        }

    });


</script>

</body>
</html>