<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>数据详情</title>
    <link rel="stylesheet" href="/static/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/assets/style/admin.css" media="all">
    <style type="text/css">
        .layui-layer-page .layui-layer-content {
            overflow: inherit !important;
        }
    </style>
</head>
<body layadmin-themealias="default">
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief" lay-event="filter" style="height: 500px">
            <ul id="chartTabs" class="layui-tab-title" lay-event="filter" style="width: 100%;"></ul>
            <div id="chartContent" class="layui-tab-content"lay-event="filter" style="height: 100%;"></div>
        </div>
    </div>
</div>
<script src="/static/assets/layui/layui.js"></script>
<script id="tabs" type="text/html">
    {{# layui.each(d.list,function(index,item){ }}
    {{# if(item.first) { }}
    <li class="layui-this">
        {{# } else { }}
    <li>
        {{# } }}
        <span>{{item.tab}}</span>
    </li>
    {{# }); }}
</script>

<script th:inline="javascript">

    layui.use(['jquery', 'layer', 'element'], function () {
        $ = layui.$;
        layer = layui.layer;
        element = layui.element;
        uuid = [[${uuid}]];
        getCharts();
        element.on('tab(filter)', function(data){
            console.log(this); //当前Tab标题所在的原始DOM元素
            console.log(data.index); //得到当前Tab的所在下标
            console.log(data.elem); //得到当前的Tab大容器
        });
        function getCharts() {
            $.get('/push/getCharts', {
                uuid: uuid
            }, function (res) {
                if (res.code === 200) {
                    var tabs = res.data.tabs;
                    initTabs(tabs || []);
                } else {
                    console.log(res)
                }
            });
        }

        function initTabs(list) {
            layui.use(['laytpl', 'jquery'], function () {
                layui.laytpl(tabs.innerHTML).render({list: list}, function (html) {
                    chartTabs.innerHTML += html;
                });
            });
        }

    });


</script>

</body>
</html>