<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/assets/style/admin.css" media="all">
    <style type="text/css">
        .layui-layer-page .layui-layer-content {
            overflow: inherit !important;
        }
    </style>
</head>
<body layadmin-themealias="default">
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md4">
                    <table id="loginTable" lay-filter="loginTable"
                           lay-data="{initSort: {field:'loginTime', type:'desc'}}"></table>
                </div>
                <div class="layui-col-md4">
                    <table id="sycnTable" lay-filter="sycnTable"
                           lay-data="{initSort: {field:'createTime', type:'desc'}}"></table>
                </div>
                <div class="layui-col-md4">

                </div>
            </div>
        </div>

    </div>
</div>


<script src="/static/assets/layui/layui.js"></script>
<script src="/static/js/notice.js"></script>
<script src="/static/js/ajax.js"></script>
<script>
    layui.use(['table', 'jquery', 'layer', 'form'], function () {
        var $ = layui.$,
            table = layui.table,
            layer = layui.layer,
            form = layui.form;

        table.render({
            elem: '#loginTable',
            height: 'full',
            cols: [
                [
                    {field: 'account', title: '账号', width: '25%', sort: true},
                    {field: 'name', title: '用户名', width: '25%', sort: true},
                    {field: 'time', title: '登录时间', width: '50%', sort: true},
                ]
            ],
            text: {
                none: '暂无相关数据'
            },
            url: "/record/loginRecords",
            response: {
                statusCode: 200
            },
            parseData: function (res) {
                return {
                    "code": res.code,
                    "data": res.data.object,
                    "count": res.data.count,
                };
            }
        });
        table.render({
            elem: '#sycnTable',
            height: 'full',
            cols: [
                [
                    {field: 'account', title: '账号', width: '25%', sort: true},
                    {field: 'time', title: '同步时间', width: '50%', sort: true},
                    {field: 'action', title: '动作', width: '25%', sort: true},
                ]
            ],
            text: {
                none: '暂无相关数据'
            },
            url: "/record/syncRecords",
            response: {
                statusCode: 200
            },
            parseData: function (res) {
                return {
                    "code": res.code,
                    "data": res.data.object,
                    "count": res.data.count,
                };
            }
        });
    })
</script>
</body>
</html>