<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/assets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/assets/style/admin.css" media="all">
    <link rel="stylesheet" href="/static/css/download.css">
    <style type="text/css">
        .layui-layer-page .layui-layer-content {
            overflow: inherit !important;
        }
    </style>
</head>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md4">
                    <table id="loginTable" lay-filter="loginTable"
                           lay-data="{initSort: {field:'loginTime', type:'desc'}}"></table>
                </div>
                <div class="layui-col-md4">
                    <table id="sycnTable" lay-filter="sycnTable"
                           lay-data="{initSort: {field:'createTime', type:'desc'}}"></table>
                </div>
                <div class="layui-col-md4">
                    <center>
                        <div class="info-area">
                            <img class="d-item-logo" src="/static/img/Android.png" alt=""/>
                            <div class="d-item-title">玻璃信息系统<br/>Android应用</div>
                            <div class="d-item-desc">版本1.0 <span class="update-time">2019-04-30</span></div>
                            <a href="https://www.pgyer.com/gx4K" class="layui-btn layui-btn-normal" target="_blank">下载</a>
                            <div class="d-item-desc">请用手机扫码下载</div>
                            <hr class="layui-bg-green">
                            <img class="d-item-qrcode" src="/static/img/QRCode_336.png" alt="下载当前应用"/>
                        </div>
                    </center>


                </div>
            </div>
        </div>

    </div>
</div>


<script src="/static/assets/layui/layui.js"></script>
<script src="/static/js/notice.js"></script>
<script src="/static/js/ajax.js"></script>
<script>
    layui.use(['table', 'jquery', 'layer', 'form'], function () {
        var $ = layui.$,
            table = layui.table,
            layer = layui.layer,
            form = layui.form;

        table.render({
            skin: 'nob',
            elem: '#loginTable',
            height: 'full-100',
            cols: [
                [
                    {field: 'account', title: '账号', width: '25%', sort: true},
                    {field: 'name', title: '用户名', width: '25%', sort: true, style: 'color: #009688;'},
                    {field: 'time', title: '登录时间', width: '50%', sort: true},
                ]
            ],
            text: {
                none: '暂无相关数据'
            },
            url: "/record/loginRecords",
            response: {
                statusCode: 200
            },
            parseData: function (res) {
                return {
                    "code": res.code,
                    "data": res.data.object,
                    "count": res.data.count,
                };
            }
        });
        table.render({
            skin: 'nob',
            elem: '#sycnTable',
            height: 'full-100',
            cols: [
                [
                    {field: 'account', title: '账号', width: '25%', sort: true},
                    {field: 'action', title: '动作', width: '25%', sort: true, style: 'color: #009688;'},
                    {field: 'time', title: '同步时间', width: '50%', sort: true},
                ]
            ],
            text: {
                none: '暂无相关数据'
            },
            url: "/record/syncRecords",
            response: {
                statusCode: 200
            },
            parseData: function (res) {
                return {
                    "code": res.code,
                    "data": res.data.object,
                    "count": res.data.count,
                };
            }
        });
    })
</script>
</body>
</html>